<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASD5x5ZJRD9F_y2K7Ed-0OBv4HG5HuEhw</string>
	<key>GCM_SENDER_ID</key>
	<string>281362556439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobfinder</string>
	<key>PROJECT_ID</key>
	<string>jobfinder-3a193</string>
	<key>STORAGE_BUCKET</key>
	<string>jobfinder-3a193.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:281362556439:ios:95c7e982f09e44e1699e52</string>
</dict>
</plist>